<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Your Recipe</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link href="../css/bootstrap.min.css"  th:href ="@{../css/bootstrap.min.css}">
  <script src="../js/bootstrap.min.js" th:src = "@{../js/bootsrap.min.js}"></script>
  <script src ="../js/jquery.js" th:src ="@{../js/jquery.js}"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="../css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<script src="../js/bootstrap.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body style="font-size:15px"> 
   <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
            <a style="font-size:20px" class="navbar-brand text-white" href="#">Your Recipe</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-white" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/addRecipe}">Add Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/getRecipe}">Get Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/logout}">LOGOUT</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container container mt-4 mb-5">
        <h3 class="display-4 text-center"> Your Recipes </h3>
        <hr class="bg-dark mb-4 w-25">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="../images/card.jpg" alt="Card image cap">
                    <div class="card-block p-3">
                        <h4 class="card-title">HOME</h4>
                        <p class="card-text"> Your Recipe is your  Ultimate Cook book, 
								The perfect culinary companion for home cooks at every skill level.
								Its also a place where you can post your own recipes you have created.Post and explore your recipes. </p>
                       <a class="nav-link text-black" th:href="@{/}"> Home</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="../images/slide3.jpg" alt="Card image cap">
                    <div class="card-block p-3">
                        <h4 class="card-title">Add Recipes</h4>
                        <p class="card-text">Mark up your recipe content with structured data to provide rich results and host-specific lists for your recipes, such as reviewer ratings, cooking and preparation times, and nutrition information.
                         </p>
                        <a class="nav-link text-black" th:href="@{/addRecipe}">Add Recipes</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="../images/background.jpg" alt="Card image cap">
                    <div class="card-block p-3">
                        <h4 class="card-title">Get Recipes</h4>
                        <p class="card-text">Right as you load the front page of Get Recipes, you’ll be able to see your Feed. The Feed will show you trending recipes, recipes similar to recipes in your Favorites and recipes people you follow have saved to their Favorites.</p>
                       <a class="nav-link text-black" th:href="@{/getRecipe}">Get Recipes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Card -->

  
    <footer class="footer bg-dark text-white">

        <!-- Social Icons -->
               <!-- Footer Links -->
        

                


        <!-- Footer Links-->

        <hr class="bg-white mx-4 mt-2 mb-1">

        <!-- Copyright-->
        <div style="padding-top:5%" class="container-fluid">
            <p class="text-center m-0 py-1">
                © 2019 Copyright <a href="https://getbootstrap.com/" class="text-white">Your Recipe </a>
            </p>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</body>
</html>
