<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
 <title> Post Recipe </title>
 
   <link rel="stylesheet" th:href="@{../css/bootstrap.min.css}" id="bootstrap-css">
  <link rel="stylesheet" th:href="@{../css/custom.css}" >
  <script th:href="@{../js/jquery.min.js}" src="../js/jquery.min.js"></script>
  <script th:href="@{../js/bootstrap.min.js}" src="../js/bootstrap.min.js"></script>
 <script  th:href="@{../js/custom.js}" src = "../js/custom.js"> </script>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">


<nav  class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
     <a class="navbar-brand" >YOUR RECIPE</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a th:href = "@{/home}">HOME</a></li>
        
         <li><a th:href="@{/addRecipe}">ADD RECIPE</a></li>
        
   <!--  <li><a href="#contact">CONTACT</a></li> -->    
        
        
          </ul>
    </div>
  </div>
</nav>	

	
<div style =" width:600px; height:650px; position:relative; top:10%; border-radius:16px; height:auto; background-color:rgba(0,0,0,0.5); opacity:0.8;border:solid yellow;"  class="container" > 
<center>
				
	
<form  method = "POST" enctype="multipart/form-data" th:object = "${post}" th:action = "${addRecipe}">

 <div style = "margin-top:-10%; " class="form-group">
  <label style =  "color:white;" for="usr">Title Of Your Recipe: </label>
  <input size="4" type="text" class="form-control" id="recipe" th:field = "*{title}"/>
   <span class="text-danger"
          th:if="${#fields.hasErrors('title')}"
          th:errors="*{title}">title Error</span>

</div>

 <!-- <input type="button" value="Add Row" onclick="addRow('datatable')" class="btn btn-default"/>

 <input  type="button" value="Delete Row" onclick="deleteRow('datatable')" class="btn btn-default" /><br>

 <table id="datatable" width="350px">
  <tr>
   <td><input  type="checkbox" name="chk"/></td>
   <td> 1 </td>
   <td> <input type="text" th:field = "*{ingredient}"/> </td>
   <td> <input type="text"th:field = "*{measurement}"/> </td>
  </tr>
 </table>  -->
  <label style =  "color:white;" >Ingredients</label><label style = "margin-left:125px; margin-top:15px;">Measurement</label> <br>
 <div class = "twoText">
  <textarea  th:field = "*{ingredient}"> </textarea>
  <textarea  th:field = "*{measurement}"></textarea>
 
 </div>
  <span class="text-danger"
          th:if="${#fields.hasErrors('ingredient')}"
         th:errors="*{ingredient}">Table Error<br></span> <br>
         
  <span class="text-danger"
          th:if="${#fields.hasErrors('measurement')}"
         th:errors="*{measurement}">Table Error</span>

          
 <div style= "margin-top:15px;"  class="form-group">
  <label style =  "color:white;"for="preparation">Preparation Of The Recipe: </label>
  <textarea class="form-control" rows="5" id="prepare" th:field = "*{preparation}"></textarea>
  <span class="text-danger"
          th:if="${#fields.hasErrors('preparation')}"
          th:errors="*{preparation}">preparation Error</span>
</div>
<div class="form-group">
  <label style =  "color:white;" for="time">How Long Does It Take To Prepare This Recipe : </label>
  <input size="1" type="text" class="form-control" id="time" th:field = "*{time}">
  <span class="text-danger"
          th:if="${#fields.hasErrors('time')}"
          th:errors="*{time}">Time Error</span>
</div>

<div class = "form-group" >
<label style =  "color:white;" for = "image">Select image to upload</label>
<input  type="file"
name = "fileToUpload"
id = "fileToUpload">
<input class="btn btn-default" type="submit"
value="Upload Image"
name = "submit">
</div>
 <button type="submit" class="btn btn-default">Submit</button>
</form>

</div>
</center>


 
</body>
</html>